/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cuprum', sans-serif;
}

/* General Navbar */
nav a {
  text-decoration: none;
  text-decoration-style: none;
  color: rgba(255,255,255,.5);
}
nav a:hover {
  text-decoration: none;
  color: rgba(255,255,255,0.9);
}

#navOne {
  padding-left: 8rem;
}

/* navbar icons */

/* #cartIcon:hover {
  height: 30px; 
  width: 40px;
}  */


/* =====================================LANDING==========================================- */
/* denwa logo */
#logo {
  margin-bottom: -2rem;
}

/* ===================================HOME PAGE====================================== */

#homeBanner {
  /* margin-top: 20%; */
  padding-top: 22%;
  margin-bottom: 5rem;
  color: #ffffff;
  
}
#banner1 {
  font-size: 65px;
  font-weight: bolder;
}
#banner2 {
  font-size: 28px;
  font-weight: bolder;
}
#mainDiv {
  background-image: url("./photos/photo1.jpg");
  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}
#mainHome {
  text-align: center;

}

/*================================== REGISTER PAGE =================================*/
/* form registration */
#formRegistration {
  margin-top: 5px;
}
/* create account text */
#createAcct {
  text-align: center;
  margin-bottom: 5rem;
}

/* ==================================CONTACT PAGE===============================*/

/* contact container */
#contactMain {
  margin-top: 8%;
  
}

/* get in touch */
#getInTouch {
  margin-left: 15%;
}

/* send message */
#submitBtn {
  border-radius: 15px;
  margin-right: 2rem;
  margin-bottom: 1rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#submitBtn:hover{
      background: rgba(255,255,255,0.9);
      box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
  }
  
/* reset button */
#resetBtn {
  border-radius: 15px;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}
#resetBtn:hover{
    background: rgba(255,255,255,0.9);
    box-shadow: 0 6px 20px rgb(93 93 93 / 23%);
 }
  
/* div buttons contact */

#buttonsContact {
  margin-bottom: 10rem;
}

/* contact info */
#contactInfo {
  margin-left: 15%;
}

/* ======================================LOGIN PAGE =========================================*/
/* signIn Container */
#signInContainer {
  margin-top: 5%;
}
/* email address */
#emailAd {
  margin-top: 2rem;
  font-size: 12px;
  float: left;
}
#asterisk1 {
  margin-top: 2rem;
  font-size: 12px;
  float: left;
  color: red;
}

/* password */
#passwordEmail {
  font-size: 12px;
  float: left;
}

#asterisk2 {
  font-size: 12px;
  float: left;
  color: red;
}

/* required text */
#required {
  font-size: 12px;
  float: left;
}

#asterisk3 {
  font-size: 12px;
  float: left;
  color: red;

}

#formId {
  /* border: .5px dashed rgba(187, 186, 186, 0.788); */
  padding-left: 30%;
  padding-right: 30%;
}

/* signIn button */
#signInButton {
  border-radius: 15px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

#signInButton:hover{
      background: rgba(255,255,255,0.9);
      box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
  }

/* create account button */
#createAcctButton {
  margin-bottom: 5rem;
  margin-top: 1rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

#createAcctButton:hover{
      background: rgba(255,255,255,0.9);
      box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
  }

/* ================================REGISTER PAGE ===========================================*/
/* heading create account */
#createAcct {
  margin-top: 4rem;
}

/* fill up form text */
#fillUpformTxt {
  padding-left: 30%;
  padding-right: 30%;
}
/* reistration form */
#formRegistration {
  padding-left: 30%;
  padding-right: 30%;
}

/* registration button */
#registerbtn {
  margin-top: 3rem;
  margin-bottom: 2rem;
}

#spanOr {
 align-items: center;
 text-align: center;
}
/* signin button */
#signInBtn {
  border-radius: 15px;
  margin-top: 3rem;
  margin-bottom: 2rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 45px;
  line-height: 45px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

#signInBtn:hover{
  background: rgba(255,255,255,0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
  }

/* ===========================================SINGLE PRODUCT PAGE ==========================================================*/

#singleProductRow {
  margin-top: 20%;
  margin-bottom: 25%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 5rem;
  border: 1px black solid;
  border-width: thick;
}

#singleProductCol1 {
  text-align: center;
  margin-right: 4rem;
  padding-bottom: 2rem;
}

#singleProductCol2 {
  text-align: left;
  margin-right: 0.2rem;
  margin-left: 2rem;
  padding-bottom: 2rem;
}

#imageSingleProduct {
  height: 100%;
  width: 150%;
}
#singleProductName {
  font-family: 'Poppins';
  font-weight: bold;
  font-size: 2rem;
}

#singleProductDescription {
  font-family: 'Poppins';
  margin-top: 0.8rem;
  font-size: 1rem;
}

#singleProductCategories {
  font-family: 'Poppins';
  margin-top: 0.8rem;
  font-size: 1rem;
}

#singleProductPrice {
  font-family: 'Poppins';
  font-weight: bolder;
  font-size: 1.1rem;
  margin-top: 0.8rem;
  font-style: oblique;
}

#buttonP {
  border-radius: 15px;
  margin-top: 3.5rem;
  display: inline-block;
  outline: 0;
  cursor: pointer;
  border: none;
  padding: 0 56px;
  height: 40px;
  line-height: 40px;
  border-radius: 7px;
  font-weight: 400;
  font-size: 16px;
  background: #fff;
  color: #696969;
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 10%);
  transition: background 0.2s ease,color 0.2s ease,box-shadow 0.2s ease;
}

#signInBtn:hover{
  background: rgba(255,255,255,0.9);
  box-shadow: 0 6px 20px rgb(93 93 93 / 50%);
}
/* ================================ALL PRODUCTS PAGE=====================================================*/


/* =================================FOOTER ==========================================*/

*:focus,
*:active {
  outline: none !important;
  -webkit-tap-highlight-color: transparent;
}

.wrapper {
  display: inline-flex;
}

.wrapper .icon {
  position: relative;
  text-decoration: none;
  text-decoration-style: none;
  background-color: #ffffff;
  border-radius: 50%;
  padding: 14px;
  margin: 10px;
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

#span {
  text-decoration: none;
  color: black;
}

.wrapper .tooltip {
  position: absolute;
  top: 0;
  font-size: 14px;
  background-color: #ffffff;
  color: #ffffff;
  padding: 5px 8px;
  border-radius: 5px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .tooltip::before {
  position: absolute;
  content: "";
  height: 8px;
  width: 8px;
  background-color: #ffffff;
  bottom: -3px;
  left: 50%;
  transform: translate(-50%) rotate(45deg);
  transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.wrapper .icon:hover .tooltip {
  top: -45px;
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.wrapper .icon:hover #span,
.wrapper .icon:hover .tooltip {
  text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.1);
}

.wrapper .facebook:hover,
.wrapper .facebook:hover .tooltip,
.wrapper .facebook:hover .tooltip::before {
  background-color: #3b5999;
  color: #ffffff;
}

.wrapper .linkedin:hover,
.wrapper .linkedin:hover .tooltip,
.wrapper .linkedin:hover .tooltip::before {
  background-color: #46c1f6;
  color: #ffffff;
}

.wrapper .instagram:hover,
.wrapper .instagram:hover .tooltip,
.wrapper .instagram:hover .tooltip::before {
  background-color: #e1306c;
  color: #ffffff;
}

.wrapper .github:hover,
.wrapper .github:hover .tooltip,
.wrapper .github:hover .tooltip::before {
  background-color: #333333;
  color: #ffffff;
}

/* ===========================================PRODUCT PAGE========================================================= */

#productCatalog {
  width: 100%;
  display: grid;
  grid-template-columns: 300px 300px 300px 300px;
  justify-content: space-around;
  margin-bottom: 2rem;
}

#imageCustom {
  height: 450px;
  width: 350px;
}

#productCard {
  width: 100%;
}
